/* OBA fonts */
@font-face {
    font-family: AvenirRoman;
    src: url("../fonts/Avenir-roman.ttf");
}

@font-face {
    font-family: AvenirMedium;
    src: url("../fonts/Avenir-medium.ttf");
}

@font-face {
    font-family: AvenirBlack;
    src: url("../fonts/Avenir\ -black.ttf")
}

/* OBA color pallet */
:root {
    --body-color: #E4E9F7;
    --sidebar-color: white;
    --text-color-primair: black;
    --text-color-secundair: ;
    --text-color-tertair: ;
}


body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: all 0.3s ease;
    font-family: AvenirMedium;
}

body.dark {
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100%;
    padding: 1rem 1rem;
}

.sidebar .overlay {
    width: 3rem;
}
